:root {
	/* Font */
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;

	/*- Colors -*/
}

html {
	scroll-behavior: smooth;
}

body {
	background: #FFFDF5;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

img {
	vertical-align: middle;
}

a {
	text-decoration: none;
}

.centric {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*
.side-by-side {
	display: grid;
    grid-template-columns: auto 1fr;
	align-items: center;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .side-by-side {
        grid-template-columns: 1fr;
		text-align: center;
    }
}
*/