
footer {
    font-size: 0.75em;
    padding: 14px 0;
    color: whitesmoke;
    background-color: #1f1c18;
}

footer svg {
    height: 90%;
    width: 90%;
    stroke-width: 0px;
    fill: whitesmoke;
}

footer a {
    height: 1.5em;
    width: 1.5em;
}

footer a:hover svg{
    /*fill: rgb(57, 137, 212);*/
    fill: rgb(118, 170, 219);
}