header {
    height: calc(100vh - var(--nav_height));
}

#home {
    display: grid;
    grid-template-columns: auto 1fr;
	align-items: center;
    text-align: left;
    gap: 100px;
}

#img_me {
    height: 25em;
}

@media screen and (max-width: 1300px) {
    #home {
        grid-template-columns: 1fr;
		text-align: center;
        font-size: 0.8rem;
        gap: 80px;
    }
    #img_me {
        height: 25em;
    }
}

@media screen and (max-width: 600px) {
    #home {
        font-size: 0.5rem;
        gap: 75px;
    }
    #img_me {
        height: 33em;
    }
}
