#experience {
    display: grid;
    grid-template-columns: 55% 40%;

    padding: 2rem 9%;
    justify-content: space-between;
    background-color: #1D1C1A;
}

@media screen and (max-width: 1300px) {
    #experience {
        padding: 2rem 10px 5rem 10px;
        gap: 50px;
        grid-template-columns: 1fr;
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 600px) {
    #experience {
        font-size: 0.7rem;
    }
}

#timeline {
    position: relative;
    z-index: 1;
    height: 95vh;
    width: 100%;
}

#timepoint {
    display: grid;
    grid-template-columns: auto 1fr;

    position: relative;
    text-align: justify;

    color: #FFFDF5;
    font-size: 0.7em;

    transition: all 0.1s ease;
}

#timepoint:hover {
    color: #23211D;
    font-size: 0.8em;
}

#bullet {
    height: 0;
    border: 12px solid transparent;
    border-left: 20px solid #FFCB7D;
    margin-top: 0.65em;
    margin-left: 15px;
    z-index: 50;
}

#timepoint_content {
    position: relative;
    z-index: 20;
    margin: 10px 10px 10px 0;
}

#studio {
    font-size: 1.3em;
    font-weight: bold;
}

#duration {
    position: absolute;
    right: 0;
    top: 0.2em;
    font-size: 0.75em;
}

#scholar {
    font-size: 1.3em;
    font-weight: bold;
}

#job_title {
    font-size: 0.85em;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

#job_description {
    font-size: 0.9em;
}

#timepoint_frame1 {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFDF5;
    border-radius: 15px;
    transform: rotate(0.72deg);
}

#timepoint_frame2 {
    position: absolute;
    z-index: 50;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid #FFCB7D;
    border-radius: 15px;
    transform: translate(2px) rotate(-0.6deg);
}

.highlight {
    visibility: hidden;
}

#timepoint:hover .highlight {
    visibility: visible;
}

#skills {
    position: relative;
    z-index: 1;
    height: 85%;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transform: rotate(1.6deg);
}

.skill {
    height: 75%;
    width: 75%;
    transition: all 0.1s ease;
}

.skill:hover {
    height: 85%;
    width: 85%;
    transform: rotate(-7deg);
}