:root {
    /*- Colors -*/
    --nav-color-light : #FFFDF5;
    --nav-color-dark : #23211D;

    /*- Shapes -*/
    --nav_height : 45px;
}

nav {
    position: sticky;
    z-index: 100;
    top:0;

    height: var(--nav_height);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: var(--nav-color-dark);
    border-bottom: 1px solid var(--nav-color-light);
    box-shadow: 0 2px 15px 0 var(--nav-color-dark);
}

nav p {
    margin: auto;
}

nav a {
    color: var(--nav-color-light);
    padding: 0 0.7rem;
    display: grid;
}

nav a:hover {
    color: var(--nav-color-dark);
    background-color: var(--nav-color-light);
}

.anchor {
    display: block;
    position:relative;
    top: calc(-1 * var(--nav_height));
    visibility: hidden;
}
